html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100%;
  color: white;
  margin: 0;
  overflow-x: hidden;
  font-family: Inter -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * Removes the blue highlight when clicked
 * https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile 
 */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

/**
 * Prevents the input bgcolor, label, and font color from changing when autocompleting
 * https://github.com/mui-org/material-ui/issues/283
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}

/* Locks the page from scrolling when mobile menu is open */
.lock-scroll {
  overflow: hidden;
}