@import 'assets/styles/fonts.css';

/**
 * Respect prefers-reduced-motion and don't do animations by setting the
 * global duration short. Also, set the repeat to 0 in case it is set.
 * https://css-tricks.com/revisiting-prefers-reduced-motion/
 */
@media screen and (prefers-reduced-motion: reduce) {
   :root {
      --animation-duration: 0.001ms !important; 
      --transition-duration: 0.001ms !important;
      --animate-repeat: 0 !important;
    }
}

html {
   scroll-behavior: smooth;
}

body {
   height: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

/**
 * Removes the blue highlight when clicked
 * https://stackoverflow.com/questions/45049873/how-to-remove-the-blue-highlight-of-button-on-mobile 
 */
input,
textarea,
button,
select,
a {
   -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
   text-decoration: none;
}

/**
 * Set the the autocomplete fill color to theme. This is to help UX so the user knows which
 * fields were filled from the autocomplete and not manual entry.
 * https://github.com/mui-org/material-ui/issues/283
 *
 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   box-shadow: #72abb9 !important;
   transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
   transition-delay: background-color 5000s, color 5000s;
}

/* Locks the page from scrolling when mobile menu is open */
.lock-scroll {
   overflow: hidden;
}